h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 16px;
}

section.main-section, section.greet-sect, section.random-sect {
  margin: 2vh 4vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card, .greeting, .minmaxrandom {
  border: 2px solid;
  padding: 1vh 1vw;
  margin: 2vh auto;
}

.idcard {
  display: flex;
  flex-direction: row;
}

.idcard img {
  min-width: 15%;
}

.card-info {
  flex-direction: column;
  padding: 0 1vw;
}

.card-info p{
  line-height: 0.7;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
