h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 16px;
}

section.main-section, section.greet-sect, section.random-sect, .color-sect, .credit-sect, .rating-sect, .driver-sect, .likebt-sect, pictureclick-sect {
  margin: 2vh 4vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card, .greeting, .minmaxrandom, .boxcolor, .driverCard {
  border: 2px solid;
  padding: 1vh 1vw;
  margin: 2vh auto;
}

.greet-info {
  margin: 2vh auto;
}

.idcard, .card-column {
  display: flex;
  flex-direction: row;
}

.likebt-sect, .pictureclick-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.idcard img {
  min-width: 15%;
}

.card-info {
  flex-direction: column;
  padding: 0 1vw;
}

.card-info p{
  line-height: 0.7;
}

img.logoCard {
  width: 6vw;
  float: right;
   padding: 2vh 0vw;
}

span.bank{
  margin-left: 3vw;
}

.cardTarget {
  padding: 2vh 2vw;
  width: calc(30% - var(--main-gap)*2 / 3);
  margin: calc(5px + 1rem);
  border-radius: 20px;
}

p.text-card {
  font-weight: 300;
  font-size: 1.2rem;
}

.numbers-card {
  font-size: 1.8rem;
  padding: 6vh 1vw 2vh 0;
  text-align: center;
  margin-right: -2vw;
}

:root {
  --main-gap: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stars {
  font-size: 4rem;
  text-align: center;
}

.driverCard  {
  background-color: #455eb5;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  height: 20vh;
}

.driverCard img{
  min-width: 100px;
  width: 150px;
  height: 150px;
  min-height: 100px;
  border-radius: 150px;
}

div.infoDC {
  padding: 0vh 1vw;
}

p.nameDC, p.starsDC {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5vh 1vw;
}

p.modelDC {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0.5vh 1vw;
}

.bt-like {
  padding: 2vh 2vw;
  width: calc(30% - var(--main-gap)*2 / 3);
  margin: calc(5px + 1rem);
  font-size: 2.3rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bt-like:hover {
  border: 5px solid #455eb5;
  border-radius: 2px;
}

img.maxence-pict {
  border-radius: 5px;
  width: 250px;
}